  <div class="row products-grid-row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6" *ngFor="let product of products">
      <div class="product-card">
        <a class="product-link" href="#">
        <img src={{product.image}} class="card-img-top product-img" alt="product image">
        <div class="card-body">
          <h5 class="product-code">{{product.code}}</h5>
          <p class="product-price">{{product.price}}€</p>
          <!--<a href="#" class="btn btn-primary">Go</a>-->
        </div>
        </a>
      </div>
    </div>
  </div>
