.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand {
  font-weight: bold;
  font-size: 28px;
}

.hero {
  background-image: url('../assets/img/hero.png');
  background-position: center;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-size: 23px;
}

.hero-text {
  font-size: 15px;
}

.btn {
  background-color: #222;
  border: none;
  padding: 5px 13px;
}
