<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg mb-2 rounded-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ottica Di Cesare</a>
    <button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <!--<span class="navbar-toggler-icon"></span>-->
      <span><img src="../assets/img/image2vector.svg" alt="hamburger menu" width="36px" height="36px"></span>
    </button>
    <!-- Qui si aggiunge show quando viene mostrato il menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Action</a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<!-- HERO SECTION -->
<div class="p-5 mb-4 rounded-3 hero">
  <div class="container-fluid py-5">
    <h1 class="display-6 fw-bold hero-title">Scopri i prodotti</h1>
    <p class="col-md-8 hero-text">Un catalogo accuratamente selezionato tra i migliori marchi</p>
    <button class="btn btn-primary" type="button">Scopri</button>
  </div>
</div>

<app-last-added></app-last-added>
<app-discount></app-discount>

<router-outlet></router-outlet>
